
.list {

}

.list-group-item-action {

}

.list-group-item {

}

.container {

}
p,h1,h2,h3,h4,h5,a,th,td,label,li,thead,tbody{
  color: #fff0d7;
  list-style: none;
  text-align: center;
}
body{
  background-color: #56192b;
}
